# {{ project_name }}

Short project description.

## Development

```bash
uv sync
```

```bash
uv run poe check
```

{% if include_precommit %}## Pre-commit

```bash
pre-commit install
pre-commit run --all-files
```
{% endif %}

{% if cli %}## CLI

```bash
uv run {{ project_name }} --help
```
{% endif %}
