# {{ project_name }}

Short project description.

## Development

```bash
python -m venv .venv
. .venv/bin/activate
python -m pip install -U pip
python -m pip install -e ".[dev]"
```

```bash
ruff format
ruff check
pyright
pytest
```

{% if include_precommit %}## Pre-commit

```bash
pre-commit install
pre-commit run --all-files
```
{% endif %}
